In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import seaborn as sns

In [2]:
%cd /home/stepan/kaggle/cars_from_auction

/home/stepan/kaggle/cars_from_auction

In [3]:
%ls

data/  models/  prepare/  result/  review/  test/  train/

In [4]:
%ls data/

processed/  sample_submission.csv  test.csv  train.csv  zipcodes.csv

In [5]:
%ls data/processed

filled_transformed_test.csv         merged_filled_transformed_train.csv
filled_transformed_train.csv        transformed_test.csv
merged_filled_transformed_test.csv  transformed_train.csv

In [6]:
data_path = 'data/processed/'
data_file = 'merged_filled_transformed_test.csv'

In [7]:
data = pd.read_csv(data_path + data_file, index_col=0)

In [8]:
data

,engine_capacity,type,registration_year,gearbox,power,model,mileage,fuel,brand,damage,zipcode,insurance_price,city,latitude,longitude
index,,,,,,,,,,,,,,,
60314,1.600000,small car,2013,manual,136.0,swift,40000,gasoline,suzuki,0.0,30449,6.194405,Hannover,52.384470,9.726930
12566,3.207037,coup√©,2004,auto,333.0,6er,150000,gasoline,bmw,0.0,45307,6.507278,"Essen, Ruhr",51.462488,7.008645
17760,2.105880,station wagon,2006,auto,170.0,e_klasse,150000,diesel,mercedes_benz,0.0,59494,6.131226,"Soest, Westfalen",51.566980,8.110620
8876,1.639746,limousine,1999,manual,101.0,astra,150000,gasoline,opel,0.0,25524,5.438079,Itzehoe,53.926752,9.512700
80392,1.322234,limousine,1975,manual,54.0,andere,150000,diesel,mercedes_benz,0.0,70794,7.012115,Filderstadt,48.666700,9.216670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93878,1.400000,limousine,1999,manual,86.0,corolla,150000,gasoline,toyota,0.0,44339,4.700480,Dortmund,51.504225,7.483654
99783,2.200458,station wagon,2002,auto,184.0,3er,150000,diesel,bmw,0.0,47574,5.480639,Goch,51.679880,6.156480
57399,1.308723,small car,2005,manual,52.0,fox,100000,gasoline,volkswagen,0.0,50389,4.094345,"Wesseling, Rheinland",50.833300,6.983330
97106,1.977524,bus,2001,manual,151.0,transporter,150000,diesel,volkswagen,0.0,12209,6.835185,Berlin,52.524680,13.405350
478,1.741079,limousine,1994,manual,116.0,vectra,150000,gasoline,opel,0.0,15517,4.248495,F√ºrstenwalde / Spree,52.367690,14.071620

# Load model

In [9]:
%ls models/

lgbm-v1-2020-09-06_12:15:11.431861.model

In [10]:
import joblib

In [11]:
model_path = 'models/'
model_name = 'lgbm-v1-2020-09-06_12:15:11.431861'
model_file = f'{model_name}.model'

In [12]:
reg = joblib.load(model_path + model_file)

## Convert to category

In [13]:
cdata = data
for c in cdata.select_dtypes(include='object'):
    cdata[c] = cdata[c].astype('category')

In [32]:
X = cdata
index = cdata.index

In [33]:
test_result = np.exp(reg.predict(X)) # do not forget to take exp (because we used log)

In [34]:
df_result = pd.DataFrame(test_result, columns=['Predicted'])
df_result['Id'] = index

In [35]:
df_result.set_index('Id', inplace=True)
df_result

          Predicted
Id
60314   9545.562059
12566  11247.262048
17760   7031.057389
8876     989.848489
80392   9155.155769
...             ...
93878   1300.535254
99783   3488.472791
57399   1610.473336
97106  12936.380703
478     1119.397150

[50000 rows x 1 columns]

In [36]:
df_result.to_csv('result/' + model_name + '_target.csv')