In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import seaborn as sns

In [2]:
%cd /home/stepan/kaggle/cars_from_auction

/home/stepan/kaggle/cars_from_auction

In [3]:
%ls

data/  models/  prepare/  result/  review/  test/  train/

In [4]:
%ls data/

processed/  sample_submission.csv  test.csv  train.csv  zipcodes.csv

In [5]:
data_path = 'data/'
data_file = 'zipcodes.csv'

In [6]:
data = pd.read_csv(data_path + data_file, index_col=0)

In [7]:
data

,zipcode,city,latitude,longitude
0,19348,Berge bei Perleberg,53.237460,11.870770
1,85309,Pörnbach,48.616700,11.466700
2,24790,"Osterrönfeld Heidkrug, Gemeinde Osterrönfeld",54.275360,9.737535
3,98646,Hildburghausen,50.439501,10.723922
4,27336,"Frankenfeld, Aller",52.769510,9.430780
...,...,...,...,...
17370,48465,Isterberg,52.363460,7.160770
17371,14929,Treuenbrietzen Bardenitz,52.070188,12.937977
17372,14913,Treuenbrietzen Bardenitz,52.070188,12.937977
17373,22946,Dahmker,53.587820,10.444710
17374,56335,"Neuhäusel, Westerwald",50.383300,7.716670

In [9]:
data.loc[:, 'dist'] = data['latitude']**2 + data['longitude']**2

In [10]:
data

,zipcode,city,latitude,longitude,dist
0,19348,Berge bei Perleberg,53.237460,11.870770,2975.142328
1,85309,Pörnbach,48.616700,11.466700,2495.068728
2,24790,"Osterrönfeld Heidkrug, Gemeinde Osterrönfeld",54.275360,9.737535,3040.634291
3,98646,Hildburghausen,50.439501,10.723922,2659.145779
4,27336,"Frankenfeld, Aller",52.769510,9.430780,2873.560797
...,...,...,...,...,...
17370,48465,Isterberg,52.363460,7.160770,2793.208570
17371,14929,Treuenbrietzen Bardenitz,52.070188,12.937977,2878.695733
17372,14913,Treuenbrietzen Bardenitz,52.070188,12.937977,2878.695733
17373,22946,Dahmker,53.587820,10.444710,2980.746419
17374,56335,"Neuhäusel, Westerwald",50.383300,7.716670,2598.023915

In [11]:
data.to_csv(data_path + 'processed/transformed_' + data_file)